
.wrapper-form {
    --input-focus: #9e01c5;
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: #000000;
    --bg-color-alt: #000000;
    --main-color: #fefefe;
      /* display: flex; */
      /* flex-direction: column; */
      /* align-items: center; */
    margin-top: 440px;
    transition: height 0.6s ease;
  }

  /* Cuando se muestre login */
  .wrapper-login {
    height: 190px !important; /* m치s alto */
  }

  /* Cuando se muestre signup */
  .wrapper-signup {
    height: 360px !important; /* un poco m치s bajo */
  }

  /* switch card */
  .switch {
    transform: translateY(-200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
  }

  .card-side::before {
    position: absolute;
    content: 'Log in';
    left: -100px;
    top: -10px;
    width: 100px;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: 600;
    font-size: 25px;
  }

  .card-side::after {
    position: absolute;
    content: 'Sign up';
    left: 90px;
    top: -10px;
    width: 100px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
    font-size: 25px;
  }

  .toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    transition: 0.3s;
  }

  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
  }

  .toggle:checked + .slider {
    background-color: var(--input-focus);
  }

  .toggle:checked + .slider:before {
    transform: translateX(30px);
  }

  .toggle:checked ~ .card-side:before {
    text-decoration: none;
  }

  .toggle:checked ~ .card-side:after {
    text-decoration: underline;
  }

  /* card */ 

  .flip-card__inner {
    width: 400px;
    /* height: 450px; */
    position: relative;
    background-color: transparent;
    perspective: 1000px;
      /* width: 100%;
      height: 100%; */
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .toggle:checked ~ .flip-card__inner {
    transform: rotateY(180deg);
  }

  .toggle:checked ~ .flip-card__front {
    box-shadow: none;
  }

  .flip-card__front, .flip-card__back {
    width: 100%;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: var(--bg-color);
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    transition: 0.3s;
  }

  .flip-card__front {
    height: 310px;
  }

  .flip-card__back {
    height: 480px;
  }

  .flip-card__front:hover, .flip-card__back:hover {
    box-shadow: 10px 10px var(--input-focus);
  }

  .flip-card__back {
    width: 100%;
    transform: rotateY(180deg);
  }

  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .title {
    margin: 20px 0 20px 0;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
  }

  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  .flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  .flip-card__input:focus {
    border: 2px solid var(--input-focus);
  }

  .flip-card__btn:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }

.errors {
  color: red;
  margin-top: 10px;

}
.success {
  color: green;
  margin-top: 10px;
}

  /* Tablets (pantallas medianas) */
@media (max-width: 768px) {
  .flip-card__inner {
    width: 280px;
    height: 400px;
  }

  .title {
    font-size: 22px;
  }

  .flip-card__input {
    width: 200px;
    font-size: 14px;
  }

  .flip-card__btn {
    width: 100px;
    font-size: 15px;
  }

  .card-side::before 
  .card-side::after {
    font-size: 5px;
  }
}

/* M칩viles (pantallas peque침as) */
@media (max-width: 480px) {
  .flip-card__inner {
    width: 230px;
    height: 340px;
  }

  .flip-card__input {
    width: 180px;
    font-size: 13px;
  }

  .flip-card__btn {
    width: 90px;
    height: 35px;
    font-size: 14px;
  }

  .switch {
    gap: 20px;
    transform: translateY(-150px);
  }

  .card-side::before,
  .card-side::after {
    font-size: 15px;
    top: -5px;
  }

  .card-side::before {
    left: -65px;
  }
  .card-side::after {
    left: 70px;
  }

  .wrapper-form {
    margin-top: 400px;
  }

  .title {
    font-size: 18px;
  }
}