.pyramid-loader {
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 6s linear infinite;
}

.pyramid-loader .wrapper .side {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.5);
}

.pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient(#ff6d70, #ff6d70, #9832dc, #ac59df);
}

.pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient(#a036cd, #a64de6, #21c899, #6cffd6);
}

.pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient(#6cffd6, #14c795, #ff6d70, #ff6d70);
}

.pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient(#ff6d70, #ff6d70, #25dae0, #1fc6be);
}

.pyramid-loader .wrapper .shadow {
    width: 40px;
    height: 40px;
    background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 99, 71, 0.4));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(8px);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 99, 71, 0.8);
}